---
// Components
import { Image } from "astro:assets";
import SignatureSection from "./SignatureSection.astro";
import WeatherPill from "../WeatherPill.astro";
import PersonalImage from "../PersonalImage.astro";
import Subtitle from "../Subtitle.astro";

import book1 from "../../assets/other/book-things-we-make.png";
import book2 from "../../assets/other/book-the-anthropocene.png";
import book3 from "../../assets/other/book-i-human.png";

const books = [
  {
    title: "The Anthropocene Reviewed",
    image: book2,
    progress: 90,
  },
  {
    title: "The Things We Make",
    image: book1,
    progress: 10,
  },
  {
    title: "I Human",
    image: book3,
    progress: 0,
  },
];
---

<div class="personal-container">
  <div class="personal-text">
    <Subtitle title="On the People Side" />
    <p>
      Outside of work, I like to watch dark psychological thrillers. Watch
      soccer games and baking shows. I enjoy time away from my keyboard by
      playing with my kid and talking walks with my dog.
    </p>
    <p>
      I live in the East Coast of the USA with my wife and its <WeatherPill /> where
      we are. I am happy to enjoy the every day. While working very hard for my family.
    </p>
  </div>
  <PersonalImage />
</div>

<div class="currently-on-repeat">
  <h4>Currently on Repeat</h4>
  <iframe
    style="border-radius:12px"
    src="https://open.spotify.com/embed/track/77RNVzAVwqWiZrZuWqMV2i?utm_source=generator"
    width="100%"
    height="152"
    frameborder="0"
    allowfullscreen=""
    allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
    loading="lazy"></iframe>
</div>

<div class="currently-reading">
  <h4>Currently Reading</h4>
  <div class="currently-reading-list">
    {
      books.map(({ title, image, progress }) => (
        <div class="book-container">
          <div class="book-artwork">
            <div
              class={`book-lighting ${title.toLowerCase().replace(/\s+/g, "-")}`}
            >
              <Image
                src={image}
                alt={title}
                width={268}
                height={402}
                draggable={false}
              />
            </div>
          </div>
          <div class="book-completion">
            <div class="book-completion-bar">
              {progress > 0 ? (
                <>
                  <div class="book-completion-bar-fill">
                    <div
                      class="book-completion-bar-fill-inner"
                      style={`width: ${progress}%;`}
                    />
                  </div>
                  <span>{progress}%</span>
                </>
              ) : (
                <span class="muted">NOT STARTED</span>
              )}
            </div>
          </div>
        </div>
      ))
    }
  </div>
</div>

<SignatureSection />

<style lang="scss">
  @import "../../styles/base/_breakpoints.scss";

  .personal-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacing-base);
    align-items: center;
    justify-content: center;

    @include tablet {
      grid-template-columns: 1fr;
    }

    .personal-text {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-base);

      @include tablet {
        margin-bottom: var(--spacing-base);
      }
    }
  }

  .currently-on-repeat {
    margin-top: var(--spacing-quad);

    h4 {
      font-family: var(--font-sans);
      color: var(--color-coffee);
      font-size: var(--font-size-small);
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 600;
      margin-bottom: var(--spacing-base);
    }
  }

  .currently-reading {
    margin-top: var(--spacing-double);

    h4 {
      font-family: var(--font-sans);
      color: var(--color-coffee);
      font-size: var(--font-size-small);
      text-transform: uppercase;
      letter-spacing: 0.1em;
      font-weight: 600;
      margin-bottom: var(--spacing-base);
    }
  }

  .currently-reading-list {
    display: flex;
    border-radius: var(--border-radius-base);
    gap: var(--spacing-base);
    padding: var(--spacing-base) var(--spacing-base) var(--spacing-xsmall);
    background: var(--color-surface);

    .book-container {
      &:hover .book-artwork {
        transform: translateY(-5px);
        box-shadow: 0 10px 10px -5px rgba(91, 72, 72, 0.5);
      }

      &:hover .book-completion-bar {
        opacity: 1;
        transform: translateY(-8px);
      }
    }
  }

  .book-artwork {
    position: relative;
    width: 134px;
    height: 191px;
    background: var(--color-surface);
    border-radius: var(--border-radius-base);
    overflow: hidden;
    transition: var(--transition-base);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    img {
      width: 100%;
      height: 100%;
      min-height: 191px;
      object-fit: cover;
      border-left: 1px dotted rgba(255, 255, 255, 0.15);
    }
  }

  .book-lighting {
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 10px;
    background: var(--color-surface);

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(90deg, rgba(255, 255, 255, 0.2), transparent);
      z-index: 1;
    }

    &.the-things-we-make {
      background: #e3d57c;
    }

    &.the-anthropocene-reviewed {
      background: #245aa3;
    }

    &.i-human {
      opacity: 0.5;
      background: #00b4d8;
    }
  }

  .book-completion-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacing-small);
    margin-top: var(--spacing-small);
    opacity: 0;
    transform: translateY(-20px);
    transition: var(--transition-base);

    span {
      font-size: var(--font-size-xsmall);
      color: var(--color-chocolate);
      font-weight: 500;
      letter-spacing: 0.1em;
      font-family: var(--font-mono);

      &.muted {
        opacity: 0.5 !important;
      }
    }

    .book-completion-bar-fill {
      width: 100%;
      height: 4px;
      border-radius: var(--border-radius-base);
      background: var(--color-paper);
      box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.1);
      position: relative;
      overflow: hidden;

      .book-completion-bar-fill-inner {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: var(--color-coffee);
      }
    }
  }
</style>
