---
import { Image } from "astro:assets";

interface GalleryItem {
  image?: ImageMetadata;
  video?: string;
  alt: string;
  title?: string;
  description?: string;
}

interface Props {
  items: GalleryItem[];
}

const { items } = Astro.props;
---

<div class="scrollable-gallery-wrapper relative w-full -mt-[100px] mb-20 bg-surface overflow-hidden">
  <div class="absolute inset-0 z-10 pointer-events-none max-md:hidden before:absolute before:top-0 before:left-0 before:w-[200px] before:h-full before:bg-gradient-to-r before:from-surface before:to-transparent after:absolute after:top-0 after:right-0 after:w-[200px] after:h-full after:bg-gradient-to-l after:from-surface after:to-transparent"></div>
  <div class="scrollable-gallery w-full p-10 md:py-20 flex flex-col md:flex-row overflow-x-auto overflow-y-hidden gap-8 scrollbar-hide md:px-20 xl:px-32 md:flex-row md:gap-8">
    {
      items.map((item) => (
        <figure class="flex-1 md:min-w-[820px] flex flex-col justify-start items-start gap-5">
          {item.image && (
            <Image
              src={item.image}
              alt={item.alt}
              width={820}
              height={578}
              loading="lazy"
              class="w-full h-auto rounded-xl border-[10px] border-white/50 shadow-lg"
            />
          )}
          {item.video && (
            <video 
              src={item.video} 
              autoplay="true" 
              muted="true" 
              loop="true"
              class="w-full h-auto rounded-xl border-[10px] border-white/50 shadow-lg" 
            />
          )}
          <figcaption class="flex flex-col gap-2.5 max-w-[600px] text-ink-secondary">
            {item.title && <h5 class="!text-ink-tertiary mt-4 mb-2">{item.title}</h5>}
            {item.description && <p class="text-sm">{item.description}</p>}
          </figcaption>
        </figure>
      ))
    }
  </div>
</div>
