---
// Components
import BaseLayout from "../layouts/BaseLayout.astro";
import { Image } from "astro:assets";

// Assets
import loop from "../assets/scribbles/loop.svg";

// Partials
import PhilosophySection from "../components/_partials/PhilosophySection.astro";
import SelfCard from "../components/_partials/SelfCard.astro";
import SkillsSection from "../components/_partials/SkillsSection.astro";
import PersonalSection from "../components/_partials/PersonalSection.astro";
---

<BaseLayout
  title="Karina Tovar | About Me"
  description="Karina Tovar is a Lead Product Designer."
>
  <!-- About Me Top -->
  <section class="neue-container pt-20" data-intersection-observer={true}>
    <div class="max-w-5xl mx-auto flex flex-col md:flex-row gap-4">
      <div class="flex-1 flex flex-col gap-4">
        <h4>About Me</h4>
        <h1 class="mt-4 !leading-[1]">Building joyful high-tech solutions</h1>
        <p class="md:max-w-xl mt-4 caramel-text text-pretty">
          I am obsessed over how technology can be used to make people truly
          happier. One pixel, one bit, one thought at a time.
        </p>
      </div>
      <div
        class="flex-1 md:max-w-md justify-center items-center hidden md:flex"
      >
        <Image src={loop} alt="Loop" loading="eager" draggable={false} />
      </div>
    </div>
  </section>

  <!-- Currently -->
  <div class="neue-container p-10">
    <div class="cards-container grid grid-cols-1 sm:grid-cols-3 gap-4">
      {
        [
          { title: "currently", content: "Tropic App" },
          { title: "role", content: "Lead Product Designer" },
          { title: "location", content: "East Coast, USA" },
        ].map((item) => (
          <div class="card flex flex-col justify-center items-center text-center p-4 rounded-md bg-surface dark:!bg-ink-secondary">
            <h5 class="caramel-text mb-1">{item.title}</h5>
            <p class="max-md:text-sm">{item.content}</p>
          </div>
        ))
      }
    </div>
  </div>

  <!-- Philosophy -->
  <div class="neue-container my-24">
    <PhilosophySection />
  </div>

  <!-- Thesis -->
  <div class="neue-container my-24">
    <div
      class="thesis-container flex flex-col gap-5 items-center justify-center"
    >
      <SelfCard showTags={true} />
      <div
        class="thesis-text grid grid-cols-1 md:grid-cols-2 md:gap-10 [&>div>p]:mb-5"
      >
        <div>
          <p>
            As a designer, I want to build a world where each person is not
            called a user, but seen as a breathing human being who just wants to
            feel safe, secure, connected, cared for and happy.
          </p>
          <p>
            These are things that are constantly in my mind as a designer.
            Specially now as a parent. All I want for my kid and everyone else
            is joy and the hope for a prosperous future.
          </p>
        </div>
        <div>
          <p>
            Products that build for happiness will ultimately be successful. The
            reason, people pay money for a solution is to have an easier life
            managing their day to day.
          </p>
          <p>
            Whether that is writing Purchase Orders. Analyzing trends in their
            revenue. Understanding their workforce’s morale, etc... your
            customer’s happiness is your success.
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Skills -->
  <div class="neue-container my-24 mb-40">
    <SkillsSection />
  </div>


  <!-- Personal -->
  <div class="section-container">
    <PersonalSection />
  </div>
</BaseLayout>
