---
// Layouts
import BaseLayout from "../layouts/BaseLayout.astro";

// Components
import Divider from "../components/Divider.astro";

// Assets
import { Image } from "astro:assets";
import hand from "../assets/illustrations/hand.svg";
import sheet from "../assets/illustrations/sheet.svg";
import scribble from "../assets/illustrations/scribble.svg";
import flower from "../assets/illustrations/flower.svg";

// Data
const bookingLink = "https://cal.com/karina-tovar-djofxs/quick-chat?month=2025-01&date=2025-01-28";
---

<BaseLayout
	title="Karina Tovar"
	description="Karina Tovar is a Lead Product Designer."
>
	<div class="grid-container">
		<div class="grid-item">
			<div class="top-section">
				<h2>Karina Tovar</h2>
				<h1>Pixel Philosopher Cautious Technologist</h1>
				<p>
					My motivation is to build products that aim to help people have
					happier days. Life is too short to be ruined by awful experiences.
					Every product needs to be crafted for human joy.
				</p>
			</div>
			<div class="spacer-base"></div>
			<div class="bottom-section">
				<div class="subtitle">
					<Divider color="var(--color-accent)" width={82} height={6} />
					<h3>Get Started</h3>
				</div>
				<ul class="list-section">
					<li>
						<Image src={hand} alt="Hand" />
						<a href="#">Read philosophy manifesto</a>
					</li>
					<li>
						<Image src={scribble} alt="Scribble" />
						<a href="/work">Look at my most recent work</a>
					</li>
					<li>
						<Image src={flower} alt="Flower" />
						<a href="/about">Learn about me</a>
					</li>
					<li>
						<Image src={sheet} alt="Sheet" />
						<a href="/blog">Read my posts and notes</a>
					</li>
				</ul>
				<div class="secondary-actions">
					<a class="action-link" href="#">Download CV</a>
					<button class="action-button" data-copy="hello@karinatovar.com">
						<span>Email Me</span>
					</button>
					<a class="action-link" href={bookingLink} target="_blank" rel="noopener noreferrer">Book a Call</a>
				</div>
			</div>
		</div>
	</div>
</BaseLayout>

<script>
	document.querySelector('.action-button')?.addEventListener('click', function(this: HTMLButtonElement) {
		const email = this.dataset.copy!;
		navigator.clipboard.writeText(email).then(() => {
			const originalText = this.querySelector('span')!.textContent;
			this.querySelector('span')!.textContent = 'Copied!';
			setTimeout(() => {
				this.querySelector('span')!.textContent = originalText;
			}, 2000);
		});
	});
</script>

<style lang="scss">
	@import "../styles/base/_breakpoints.scss";

	.grid-container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: var(--spacing-base);

		max-width: var(--content-narrow-plus);
		padding: var(--spacing-base);
		margin: 0 auto;
	}

	.grid-item {
		grid-column: 1 / 2;

		display: flex;
		flex-direction: column;
		gap: var(--spacing-base);

		@include tablet {
			grid-column: 1 / -1;

			background-color: pink;
		}
	}

	.top-section {
		display: flex;
		flex-direction: column;
		gap: var(--spacing-base);
	}

	.subtitle h3 {
		margin: var(--spacing-base) 0;
	}

	.secondary-actions {
		display: flex;
		gap: 12px;

		margin: var(--spacing-double) 0;

		.action-link {
			text-decoration: underline;
			text-decoration-width: 1px;
			text-underline-offset: 4px;
			&:hover {
				text-decoration-color: var(--color-accent) !important;
			}
		}

		.action-button {
			width: 80px;
			span {
				text-align: center;
				border-bottom: 1px solid;
				&:hover {
					border-bottom-color: var(--color-accent) !important;
				}
			}
		}
	}

	ul.list-section {
		display: flex;
		flex-direction: column;

		list-style: none;
		padding: 0;
		margin: 0;

		li {
			display: flex;
			align-items: center;
			gap: var(--spacing-small);
			justify-content: start;

			border-bottom: 1px solid var(--color-border);
			padding: var(--spacing-small) var(--spacing-small);
			transition: all 0.3s ease-in-out;

			&:hover {
				background-color: var(--color-surface);
			}

			a {
				width: 100%;
			}

			a:hover {
				text-decoration: underline;
			}
		}
	}
</style>
