---
// Components
import BaseLayout from "../layouts/BaseLayout.astro";
import Subtitle from "../components/Subtitle.astro";
import CaseStudy from "../components/CaseStudy.astro";
import Testimonial from "../components/Testimonial.astro";
import SnippetsGallery from "../components/work/Elements/SnippetsGallery.astro";
import SnippetsGalleryItem from "../components/work/Elements/SnippetsGalleryItem.astro";

// Assets
import { Image } from "astro:assets";
import scribble from "../assets/scribbles/loopy.svg";
import contractsDemo01 from "../assets/backgrounds/noise-1.png";
import contractsDemo02 from "../assets/backgrounds/noise-2.png";
import thumbTest from "../assets/case-studies/tropic/thumbnail-test.png";

// Data
import { caseStudies } from "../data/caseStudies";
import { testimonials } from "../data/testimonials";
---

<BaseLayout
  title="Karina Tovar | Work"
  description="Karina Tovar case studies and projects"
>
  <div class="grid-container" data-intersection-observer={true}>
    <div class="grid-content">
      <div class="text-content">
        <h2>Recent Work</h2>
        <h1>A few examples of how I work</h1>
        <p>
          This is a collection of case studies and projects that I've worked on
          that showcase the work I've done.
        </p>
      </div>
    </div>

    <div class="visual">
      <Image src={scribble} alt="Scribble" width={340} height={340} />
    </div>
  </div>

  <div class="section-container">
    <div class="section-content case-studies" data-intersection-observer={true}>
      <Subtitle title="Recent Work" />
    </div>
  </div>

  <SnippetsGallery>
    <SnippetsGalleryItem large>
      <div class="cs-wrapper">
        <div class="cs-content">
          <span class="cs-client">Tropic</span>
          <a href="/work/beyond-contracts">
            <h2>
              <span>Beyond Contracts</span>
              <span>Building Financial Clarity</span>
            </h2>
          </a>
          <p>
            How we rebuilt Tropic to make suppliers the heart of our platform.
            Evolving from contract focused to a true spend management solution.
          </p>
          <a href="/work/beyond-contracts" class="cs-button">View Case Study</a>
        </div>
        <div class="cs-image">
          <Image src={thumbTest} alt="contracts-demo-01" />
        </div>
      </div>
    </SnippetsGalleryItem>

    <SnippetsGalleryItem
      large
      title="Pricing Benchmark Report"
      image={contractsDemo02}
      imageAlt="contracts-demo-02"
      caption="I used our system to also economize on development for our benchmarks report"
      maxWidth={880}
      imageStyles="margin:20px auto; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1)); border: 4px solid var(--color-surface); border-radius: 10px;"
    />

    <SnippetsGalleryItem
      large
      title="Pricing Benchmark Report"
      image={contractsDemo02}
      imageAlt="contracts-demo-02"
      caption="I used our system to also economize on development for our benchmarks report"
      maxWidth={880}
      imageStyles="margin:20px auto; filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.1)); border: 4px solid var(--color-surface); border-radius: 10px;"
    />
  </SnippetsGallery>

  <div class="spacer-massive"></div>

  <SnippetsGallery>
    <SnippetsGalleryItem
      image={contractsDemo01}
      imageAlt="contracts-demo-01"
      maxWidth={880}
    />

    <SnippetsGalleryItem
      image={contractsDemo02}
      imageAlt="contracts-demo-02"
      maxWidth={880}
    />

    <SnippetsGalleryItem
      image={contractsDemo01}
      imageAlt="contracts-demo-01"
      maxWidth={880}
    />

    <SnippetsGalleryItem
      image={contractsDemo02}
      imageAlt="contracts-demo-02"
      maxWidth={880}
    />
  </SnippetsGallery>

  <div class="spacer-large"></div>

  <div class="section-container">
    <div class="section-content">
      <Subtitle title="Testimonials" />
      <div class="testimonials-container">
        <div
          class="testimonials-listing large-only"
          data-testimonials-container
        >
          <Testimonial
            {...testimonials[0]}
            include_classes="active flip"
            data-index={0}
            allTestimonials={testimonials}
          />
        </div>
        <div class="testimonials-listing small-only">
          {
            testimonials.map((testimonial, index) => (
              <Testimonial
                {...testimonial}
                include_classes="active flip"
                data-index={index}
                totalTestimonials={testimonials.length}
                allTestimonials={testimonials}
              />
            ))
          }
        </div>
      </div>
    </div>
  </div>
</BaseLayout>

<style lang="scss">
  // Breakpoint mixins
  @import "../styles/base/_breakpoints.scss";

  // Visual section
  .visual {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cs-wrapper {
    display: flex;
    flex-direction: row;
    gap: var(--spacing-base);
    align-items: center;

    @include tablet {
      flex-direction: column;
    }

    .cs-content {
      flex-grow: 1;
      max-width: 400px;
      display: flex;
      flex-direction: column;
      gap: var(--spacing-base);

      @include tablet {
        max-width: 100%;
      }

      span.cs-client {
        color: var(--color-ink-tertiary);
        text-transform: uppercase;
        font-family: var(--font-mono);
        letter-spacing: 0.05em;
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-bold);
      }

      h2 {
        display: flex;
        flex-direction: column;
        gap: var(--spacing-small);
        margin-bottom: 0;

        span {
          text-wrap: balance;
        }

        span:last-child {
          color: var(--color-ink-tertiary);
          font-style: italic;
        }
      }

      p {
        color: var(--color-ink-secondary);
        font-size: var(--font-size-small);
        font-weight: var(--font-weight-normal);
        text-wrap: balance;
        margin-bottom: 0;
      }

      .cs-button {
        display: inline-block;
        max-width: fit-content;
        padding: 16px var(--spacing-base);
        background-color: var(--color-chocolate);
        color: var(--color-paper);
        font-size: var(--font-size-xsmall);
        font-weight: var(--font-weight-bold);
        font-family: var(--font-mono);
        letter-spacing: 0.05em;
        text-transform: uppercase;
        line-height: 1;
        text-decoration: none;
        border-radius: 6px;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: var(--color-accent-light);
        }

        &:active,
        &:focus {
          background-color: var(--color-accent);
        }
      }
    }

    .cs-image {
      flex-grow: 1;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--color-paper);
    }
  }

  .case-studies {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-base);

    .case-studies-listing {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-quad);
    }
  }

  .testimonials-container {
    position: relative;
    width: 100%;
  }

  .testimonials-listing {
    position: relative;
    flex-direction: column;
    gap: var(--spacing-double);
    width: 100%;
    padding: var(--spacing-base) 0 var(--spacing-triple);

    &.small-only {
      display: none;

      @include tablet {
        display: flex;
      }
    }

    &.large-only {
      display: flex;

      @include tablet {
        display: none;
      }
    }
  }
</style>
