---
// Components
import BaseLayout from "../layouts/BaseLayout.astro";
import Testimonial from "../components/Testimonial.astro";
import SnippetsGallery from "../components/work/Elements/SnippetsGallery.astro";
import SnippetsGalleryItem from "../components/work/Elements/SnippetsGalleryItem.astro";
import DraggableScreens from "../components/work/Elements/DraggableScreens.astro";
import GalleryIntroCard from "../components/work/Elements/GalleryIntroCard.astro";
import MobileImage from "../components/work/Elements/MobileImage.astro";

// Assets
import { Image } from "astro:assets";
import scribble from "../assets/scribbles/loopy.svg";
import contractsDemo01 from "../assets/backgrounds/noise-1.png";
import contractsDemo02 from "../assets/backgrounds/noise-2.png";

// Gallery Assets
import gallery01 from "../assets/case-studies/gallery/gallery-01.png";
import gallery02 from "../assets/case-studies/gallery/gallery-02.png";
import gallery03 from "../assets/case-studies/gallery/gallery-03.png";
import gallery04 from "../assets/case-studies/gallery/gallery-04.png";
import gallery05 from "../assets/case-studies/gallery/gallery-05.png";
import gallery06 from "../assets/case-studies/gallery/gallery-06.png";

// Data
import { testimonials } from "../data/testimonials";
const bookingLink = "https://cal.com/karina-tovar/quick-chat";

// Import the images
import bcDataMapping from "../assets/case-studies/tropic/bc-data-mapping.png";
import bcIntegrations from "../assets/case-studies/tropic/bc-integrations.png";
import bcCva from "../assets/case-studies/tropic/bc-cva.png";
import bcSpendinsights from "../assets/case-studies/tropic/bc-spendinsights.png";
---

<BaseLayout
  title="Karina Tovar | Work"
  description="Karina Tovar case studies and projects"
>
  <section class="neue-container py-20" data-intersection-observer={true}>
    <div class="mx-auto flex flex-col md:flex-row gap-4">
      <div class="flex-1 flex flex-col gap-4">
        <h4>Recent Work</h4>
        <h1 class="mt-4">A few examples of how I work</h1>
        <p class="md:max-w-xl mt-4 caramel-text text-pretty">
          Samples of recent work I've done
        </p>
      </div>
      <div
        class="flex-1 md:max-w-md justify-center items-center hidden md:flex"
      >
        <Image
          src={scribble}
          alt="Scribble"
          loading="eager"
          draggable={false}
        />
      </div>
    </div>
  </section>

  <SnippetsGallery>
    <!-- Tropic: Supplierverse -->
    <SnippetsGalleryItem large>
      <div
        class="cs-wrapper w-full h-full flex flex-row md:flex-col gap-4 items-center justify-center relative"
      >
        <GalleryIntroCard
          titleMain="Beyond Contracts"
          titleSecondary="Building Financial Clarity"
          description="How we rebuilt Tropic to make suppliers the heart of our platform. Evolving from contract focused to a true spend management solution."
          href="/work/beyond-contracts"
          status="ready"
        />
        <div
          class="cs-image absolute w-full h-full inset-0 z-0 flex justify-center items-center max-md:!hidden"
        >
          <DraggableScreens
            instanceId="beyond-contracts"
            screens={[
              {
                src: bcDataMapping.src,
                alt: "Tropic Data Matching",
                width: 527,
                rotation: 0,
                zIndex: 1,
                initialX: 55,
                initialY: 60,
              },
              {
                src: bcIntegrations.src,
                alt: "Tropic Integrations",
                width: 474,
                rotation: 0,
                zIndex: 1,
                initialX: 2,
                initialY: 2,
              },
              {
                src: bcCva.src,
                alt: "Spend Insights",
                width: 500,
                rotation: 0,
                zIndex: 1,
                initialX: 57,
                initialY: 0,
              },
              {
                src: bcSpendinsights.src,
                alt: "Spend Insights",
                width: 200,
                rotation: 0,
                zIndex: 1,
                initialX: 10,
                initialY: 60,
              },
            ]}
          />
        </div>
        <MobileImage src={bcDataMapping} alt="Tropic Data Matching" />
      </div>
    </SnippetsGalleryItem>
  </SnippetsGallery>

  <div class="spacer-large"></div>

  <SnippetsGallery>
    <!-- Tropic: Ask Tropic -->
    <SnippetsGalleryItem large>
      <div
        class="cs-wrapper w-full h-full flex flex-row md:flex-col gap-4 items-center justify-center relative"
      >
        <GalleryIntroCard
          titleMain="Ask Tropic"
          titleSecondary="Assisted Intelligence"
          description="How we created a new AI-powered assistant to help Tropic customers get answers to their questions."
          href="/work/ask-tropic"
          status="ready"
        />
        <div
          class="cs-image absolute w-full h-full inset-0 z-0 flex justify-center items-center max-md:!hidden"
        >
          <DraggableScreens
            instanceId="ask-tropic"
            screens={[
              {
                src: bcDataMapping.src,
                alt: "Tropic Data Matching",
                width: 527,
                rotation: 0,
                zIndex: 1,
                initialX: 55,
                initialY: 60,
              },
              {
                src: bcIntegrations.src,
                alt: "Tropic Integrations",
                width: 474,
                rotation: 0,
                zIndex: 1,
                initialX: 2,
                initialY: 2,
              },
              {
                src: bcCva.src,
                alt: "Spend Insights",
                width: 500,
                rotation: 0,
                zIndex: 1,
                initialX: 57,
                initialY: 0,
              },
              {
                src: bcSpendinsights.src,
                alt: "Spend Insights",
                width: 200,
                rotation: 0,
                zIndex: 1,
                initialX: 10,
                initialY: 60,
              },
            ]}
          />
        </div>
        <MobileImage src={bcDataMapping} alt="Tropic Data Matching" />
      </div>
    </SnippetsGalleryItem>
  </SnippetsGallery>

  <div class="spacer-large"></div>

  <SnippetsGallery>
    <!-- Tropic: Supplier Intelligence -->
    <SnippetsGalleryItem large>
      <div
        class="cs-wrapper w-full h-full flex flex-row md:flex-col gap-4 items-center justify-center relative"
      >
        <GalleryIntroCard
          titleMain="Price Benchmarks"
          titleSecondary="Making Data Accessible"
          description="How we evolved and Tropic's Price Benchmarks to showcase our data and help businesses save money in their price negotiations."
          href="/work/supplier-intelligence"
          status="coming-soon"
        />
        <div
          class="cs-image absolute w-full h-full inset-0 z-0 flex justify-center items-center max-md:!hidden"
        >
          <DraggableScreens
            instanceId="supplier-intelligence"
            screens={[
              {
                src: bcDataMapping.src,
                alt: "Tropic Data Matching",
                width: 527,
                rotation: 0,
                zIndex: 1,
                initialX: 55,
                initialY: 60,
              },
              {
                src: bcIntegrations.src,
                alt: "Tropic Integrations",
                width: 474,
                rotation: 0,
                zIndex: 1,
                initialX: 2,
                initialY: 2,
              },
              {
                src: bcCva.src,
                alt: "Spend Insights",
                width: 500,
                rotation: 0,
                zIndex: 1,
                initialX: 57,
                initialY: 0,
              },
              {
                src: bcSpendinsights.src,
                alt: "Spend Insights",
                width: 200,
                rotation: 0,
                zIndex: 1,
                initialX: 10,
                initialY: 60,
              },
            ]}
          />
        </div>
        <MobileImage src={bcDataMapping} alt="Tropic Data Matching" />
      </div>
    </SnippetsGalleryItem>
  </SnippetsGallery>

  <div class="spacer-large"></div>

  <SnippetsGallery>
    <!-- Glue -->
    <SnippetsGalleryItem large>
      <div
        class="cs-wrapper w-full h-full flex flex-row md:flex-col gap-4 items-center justify-center relative"
      >
        <GalleryIntroCard
          titleMain="People as Glue"
          titleSecondary="Connecting Employees"
          description="How we rebranded and redesigned Mystery into Glue to help companies create a more connected and engaged workforce."
          href="/work/people-glue"
          status="coming-soon"
        />
        <div
          class="cs-image absolute w-full h-full inset-0 z-0 flex justify-center items-center max-md:!hidden"
        >
          <DraggableScreens
            instanceId="people-glue"
            screens={[
              {
                src: bcDataMapping.src,
                alt: "Tropic Data Matching",
                width: 527,
                rotation: 0,
                zIndex: 1,
                initialX: 55,
                initialY: 60,
              },
              {
                src: bcIntegrations.src,
                alt: "Tropic Integrations",
                width: 474,
                rotation: 0,
                zIndex: 1,
                initialX: 2,
                initialY: 2,
              },
              {
                src: bcCva.src,
                alt: "Spend Insights",
                width: 500,
                rotation: 0,
                zIndex: 1,
                initialX: 57,
                initialY: 0,
              },
              {
                src: bcSpendinsights.src,
                alt: "Spend Insights",
                width: 200,
                rotation: 0,
                zIndex: 1,
                initialX: 10,
                initialY: 60,
              },
            ]}
          />
        </div>
        <MobileImage src={bcDataMapping} alt="Tropic Data Matching" />
      </div>
    </SnippetsGalleryItem>
  </SnippetsGallery>

  <section
    class="neue-container my-40 flex flex-col items-center justify-center gap-5"
  >
    <h3 class="caramel-text">Testimonials</h3>
    <div class="testimonials-container relative w-full">
      <div
        class="testimonials-listing relative flex flex-col gap-10 w-full pt-5 pb-14 max-sm:hidden"
        data-testimonials-container
      >
        <Testimonial
          {...testimonials[0]}
          include_classes="active flip"
          data-index={0}
          allTestimonials={testimonials}
        />
      </div>
      <div
        class="testimonials-listing relative flex flex-col gap-10 w-full pt-5 pb-14 sm:hidden"
      >
        {
          testimonials.map((testimonial, index) => (
            <Testimonial
              {...testimonial}
              include_classes="active flip"
              data-index={index}
              totalTestimonials={testimonials.length}
              allTestimonials={testimonials}
            />
          ))
        }
      </div>
    </div>
  </section>

  <section class="mb-40 max-md:px-10 flex flex-col items-center justify-center">
    <h3 class="caramel-text mb-14">Mini Gallery</h3>
    
    <SnippetsGallery columns={3}>
      <SnippetsGalleryItem
        image={gallery01}
        imageAlt="gallery-01"
        maxWidth={320}
        minHeight={420}
        caption="Currency Exchange UI"
      />

      <SnippetsGalleryItem
        image={gallery02}
        imageAlt="gallery-02"
        maxWidth={320}
        minHeight={420}
        caption="Task Reassignment Pieces"
      />

      <SnippetsGalleryItem
        image={gallery03}
        imageAlt="gallery-03"
        maxWidth={320}
        minHeight={420}
        caption="Dynamic To-do List"
      />

      <SnippetsGalleryItem
        image={gallery04}
        imageAlt="gallery-04"
        maxWidth={320}
        minHeight={420}
        caption="Universal Search Menu"
      />

      <SnippetsGalleryItem
        image={gallery05}
        imageAlt="gallery-05"
        maxWidth={300}
        minHeight={420}
        caption="People Engagement Analytics"
      />

      <SnippetsGalleryItem
        image={gallery06}
        imageAlt="gallery-06"
        maxWidth={320}
        minHeight={420}
        caption="PPC Sales Dashboard"
      />
    </SnippetsGallery>

    <div class="mt-10">
      <a
        href={bookingLink}
        target="_blank"
        class="block mt-10 p-4 px-8 bg-accent-light text-paper font-instrument-serif text-2xl md:text-4xl rounded-full transition-all duration-300 ease-in-out hover:bg-accent active:bg-accent focus:bg-accent hover:shadow-lg"
      >
        <span class="text-center">Let's work together</span>
      </a>
    </div>
  </section>

  <div class="spacer-large"></div>
</BaseLayout>
