---
import type { CollectionEntry } from "astro:content";

interface Props {
  prev: CollectionEntry<"blog"> | null;
  next: CollectionEntry<"blog"> | null;
}

const { prev, next } = Astro.props;
---

<nav
  class="post-navigation grid grid-cols-1 md:grid-cols-2 gap-4 mt-10 pt-10"
  data-intersection-observer={true}
>
  {
    prev && (
      <a
        href={`/blog/${prev.slug}`}
        class="p-4 bg-surface dark:bg-ink-secondary cursor-pointer transition-all duration-300 ease-in-out rounded-xl order-2 next hover:bg-chocolate dark:hover:bg-ink hover:text-paper group"
      >
        <h5 class="mb-1 group-hover:!text-surface transition-all duration-300 ease-in-out">Next Up</h5>
        <div>{prev.data.title}</div>
      </a>
    )
  }
  {
    next && (
      <a
        href={`/blog/${next.slug}`}
        class="p-4 bg-surface dark:bg-ink-secondary cursor-pointer transition-all duration-300 ease-in-out rounded-xl order-1 prev hover:bg-chocolate dark:hover:bg-ink hover:text-paper group"
      >
        <h5 class="mb-1 group-hover:!text-surface transition-all duration-300 ease-in-out">Previous</h5>
        <div>{next.data.title}</div>
      </a>
    )
  }
</nav>
