---
import Divider from "./Divider.astro";

interface Props {
  title: string;
  description?: string;
  dividerWidth?: number;
  dividerHeight?: number;
  dividerColor?: string;
}

const {
  title,
  description,
  dividerWidth = 82,
  dividerHeight = 6,
  dividerColor = "var(--color-accent)",
} = Astro.props;
---

<div class="subtitle mt-4">
  <Divider color={dividerColor} width={dividerWidth} height={dividerHeight} />
  <h3 class="flex items-center justify-start my-10">
    <span>{title}</span>
    {description && <span class="opacity-75">&nbsp;·&nbsp;{description}</span>}
  </h3>
</div>


