---
import Divider from "./Divider.astro";

interface Props {
  title: string;
  description?: string;
  dividerWidth?: number;
  dividerHeight?: number;
  dividerColor?: string;
}

const {
  title,
  description,
  dividerWidth = 82,
  dividerHeight = 6,
  dividerColor = "var(--color-accent)",
} = Astro.props;
---

<div class="subtitle">
  <Divider color={dividerColor} width={dividerWidth} height={dividerHeight} />
  <h3>
    <span>{title}</span>
    {description && <span class="description">&nbsp;·&nbsp;{description}</span>}
  </h3>
</div>

<style lang="scss">
  .subtitle {
    margin: var(--spacing-base) 0 0;

    h3 {
      display: flex;
      align-items: center;
      justify-content: start;
      margin: var(--spacing-base) 0;
    }

    .description {
      opacity: 0.75;
    }
  }
</style>

