---
// Components
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCaseStudy } from "../../data/case-study-details";
// Case Study Components
import * as Work from "../../components/work/index.js";
import BackToTop from "../../components/BackToTop.astro";
import AskAIChatPreview from "../../components/work/AskAIChatPreview.astro";

//Assets
import showcaseImage from "../../assets/case-studies/tropic/ask-ai/ask-ai-showcase.png";
import showcaseBackground from "../../assets/backgrounds/noise-5.png";
import showcaseLogo from "../../assets/icons/cv-tropic.png";
import askTropicHallway01 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway01.png";
import askTropicHallway02 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway02.png";
import askTropicHallway03 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway03.png";
import askTropicHallway04 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway04.png";
import askTropicHallway05 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway05.png";
import aiMessageBlock from "../../assets/case-studies/tropic/ask-ai/ai-message-block.png";
import threadBlock from "../../assets/case-studies/tropic/ask-ai/thread-block.png";
import chatReferences from "../../assets/case-studies/tropic/ask-ai/chat-references.png";
import optionsBlock from "../../assets/case-studies/tropic/ask-ai/options-block.png";

// Data
const caseStudy = getCaseStudy("askTropic");
---

<BaseLayout title={caseStudy.title} description={caseStudy.description}>
  <!-- Back to Top Button -->
  <BackToTop />

  <!-- Case Study Header -->
  <Work.CaseStudyHeader {...caseStudy} />

  <!-- Showcase -->
  <Work.CaseStudyShowcase
    background={showcaseBackground}
    caption={{
      icon: showcaseLogo,
      title: "What is Tropic?",
      description:
        "Tropic is an intake-to-procure platform that helps companies of all sizes—from startups to enterprises like OpenAI—manage their supplier relationships and reduce unnecessary spending.",
    }}
  >
    <Image
      src={showcaseImage}
      alt="show case image"
      draggable="false"
      width={1220}
      priority
    />
  </Work.CaseStudyShowcase>

  <!-- Background -->
  <Work.StorySection kicker="Background" title="Assisted Intelligence">
    <p>
      <strong
        >In a little over a month, we designed and developed Tropic's Ask AI
        feature—a chat interface that helps customers quickly find information.</strong
      >
      This feature uses multiple specialized AI agents to assist customers with tasks
      like creating requests, analyzing account data, and reviewing procurement policies
      against contracts and requests.
    </p>
    <p>
      <strong class="highlighted green"
        >I led the creation of a foundational system that other teams could use
        to help users interact with their agents</strong
      >, while also designing the core Ask AI experience. To create this Ask AI
      system, I focused on the following:
    </p>

    <div class="spacer-base"></div>

    <Work.GridFeatures
      features={[
        {
          title: "Structure",
          description:
            "Designed a structured framework that lets customers seamlessly interact with our AI agents within their natural platform workflows.",
        },
        {
          title: "Branding",
          description:
            "Developed a visual identity for our AI feature that integrated seamlessly with the application while standing out with a modern aesthetic.",
        },
        {
          title: "Information Architecture",
          description:
            "Designed ways to help customers interact with this new feature. Created patterns for AI agents to clearly communicate their context when solving customer questions. Built frameworks for users to easily access conversation history, receive suggested tips and actions, and understand our agents' full capabilities.",
        },
      ]}
      stackThird={true}
    />
  </Work.StorySection>

  <section class="open-canvas mockups" data-intersection-observer={true}>
    <div class="canvas-container">
      <span class="plate-label">Figure I.</span>
      <div class="hallway">
        <Image
          src={askTropicHallway03}
          alt="ask-tropic-hallway-0"
          draggable="false"
          width={640}
          priority
        />
        <Image
          src={askTropicHallway04}
          alt="ask-tropic-hallway-02"
          draggable="false"
          width={580}
          priority
        />
        <Image
          src={askTropicHallway05}
          alt="ask-tropic-hallway-03"
          draggable="false"
          width={880}
          priority
        />
        <Image
          src={askTropicHallway02}
          alt="ask-tropic-hallway-04"
          draggable="false"
          width={950}
          priority
        />
        <Image
          src={askTropicHallway01}
          alt="ask-tropic-hallway-05"
          draggable="false"
          width={900}
          priority
        />
      </div>
    </div>
    <span class="plate-caption"
      >Mid-fidelity wireframes of Tropic's Ask AI feature. High fidelity was
      done in code.</span
    >
  </section>

  <!-- Development -->
  <Work.StorySection kicker="Development" title="Shapping Tropic's Assistant">
    <p>
      <strong
        >I was also lucky to be given the opportunity to play with code and so I
        contributed to the front-end development</strong
      >, working alongside another developer who handled back-end integration
      and optimization.
    </p>
    <p>
      In the span of two weeks, we developed a code prototype that allowed our
      team to test and refine the intended user experience. This <strong
        >hands-on approach helped us evaluate performance requirements and
        optimize the build</strong
      >. While we started with design mockups, much of the real design work
      happened directly in code—enabling me to fine-tune the UI and create a
      polished, distinctive experience within our application.
    </p>
    <p>
      One of my favorite aspects of this project was enhancing the UI with
      subtle interactions that gave it a more polished, established feel to
      hopefully spark some joy in our customers' experience.
    </p>
  </Work.StorySection>

  <div class="snippets-gallery">
    <div class="snippets-gallery-item">
      <span class="interactive-label">Play With It!</span>
      <div class="gallery-inner chat-preview" data-intersection-observer={true}>
        <AskAIChatPreview />
        <span class="plate-caption">Figure II. Tropic's Ask AI Input Demo</span>
      </div>
    </div>
    <div class="snippets-gallery-item">
      <div class="gallery-inner" data-intersection-observer={true}>
        <Image
          src={aiMessageBlock}
          alt="ai-message-block"
          draggable="false"
          width={440}
          loading="lazy"
        />
        <span class="plate-caption">Figure III. Agent Response</span>
      </div>
    </div>
    <div class="snippets-gallery-item">
      <div class="gallery-inner" data-intersection-observer={true}>
        <Image
          src={chatReferences}
          alt="chat-references"
          draggable="false"
          width={440}
          loading="lazy"
        />
        <span class="plate-caption">Figure IV. Chat Reference Island</span>
      </div>
    </div>
    <div class="snippets-gallery-item">
      <div class="gallery-inner" data-intersection-observer={true}>
        <Image
          src={threadBlock}
          alt="thread-block"
          draggable="false"
          width={440}
          loading="lazy"
        />
        <span class="plate-caption">Figure V. Embeded Widgets in Thread</span>
      </div>
    </div>
    <div class="snippets-gallery-item large">
      <div class="gallery-inner" data-intersection-observer={true}>
        <Image
          src={optionsBlock}
          alt="options-block"
          draggable="false"
          width={440}
          loading="lazy"
        />
        <span class="plate-caption">Figure VI. Suggestions Panel</span>
      </div>
    </div>
  </div>

  <!-- Reception -->
  <Work.StorySection kicker="Reception" title="Making it Beta">
    <p>
      This feature has just been released and is in beta—we're using this period
      to fine-tune our agents and optimize experiences that required more
      development time. As Tropic's biggest user of our own platform for spend
      management, we're thoroughly dogfooding this feature.
    </p>
    <p>
      Initial feedback has been overwhelmingly positive from both Tropic and
      customers. We've received an exceptional amount of customer feedback on
      this feature—a strong signal of successful adoption.
    </p>
    <p>
      While there are some expected rough edges, that's exactly what beta
      testing and dogfooding are designed to address. I cannot take credit for
      the mazing work that other teams did on this feature, but I am surely
      proud of the amount of love and care that we put into this experience.
    </p>
  </Work.StorySection>

  <!-- Showcase -->
  <Work.CaseStudyShowcase background={showcaseBackground} backgroundFull={true}>
    <Image
      src={showcaseImage}
      alt="show case image"
      draggable="false"
      width={1220}
      priority
    />
  </Work.CaseStudyShowcase>

  <!-- Footer -->
  <Work.WorkFooter />
</BaseLayout>

<style lang="scss">
  // Breakpoint mixins
  @import "../../styles/base/_breakpoints.scss";

  .back-to-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 2rem;
    right: 2rem;

    font-size: var(--font-size-xsmall);
    font-weight: 600;
    font-family: var(--font-sans);
    color: var(--color-ink);
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: var(--spacing-small) var(--spacing-base);
    border-radius: var(--border-radius-base);

    transition: all var(--transition-base);

    &:hover {
      background-color: var(--color-chocolate);
      color: var(--color-paper);
    }

    &:focus {
      outline: none;
      background-color: var(--color-chocolate);
      color: var(--color-paper);

      .back-to-top--initial-text {
        display: none;
      }

      .back-to-top--secondary-text {
        display: block;
      }
    }

    &--initial-text {
      display: block;
    }

    &--secondary-text {
      display: none;
    }
  }

  .open-canvas {
    width: 100%;
    margin: var(--spacing-quad) 0;
    padding: var(--spacing-double) var(--spacing-base);
    background-color: var(--color-surface);

    .canvas-container {
      width: 90%;
      max-width: 1220px;
      margin: 0 auto;
    }

    :global(.plate-label),
    :global(.plate-caption) {
      display: block;
      width: 100%;
      text-align: center;
      color: var(--color-surface);
    }

    &.mockups {
      background-color: var(--color-chocolate);

      @include desktop-reverse {
        padding: var(--spacing-quad) 0;
      }
    }

    &.mockups .canvas-container {
      min-width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: var(--spacing-xxs);
      overflow: hidden;

      @include desktop-reverse {
        gap: var(--spacing-base);
      }

      .hallway {
        width: 95%;
        margin: 0 auto;
        padding: var(--spacing-base) 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: var(--spacing-quad);
        overflow-x: scroll;

        -webkit-overflow-scrolling: touch;
        -webkit-scrollbar {
          display: none;
        }

        -ms-overflow-style: none;
        scrollbar-width: none;

        img {
          width: 100%;
          height: auto;
          object-fit: contain;

          @include tablet {
            min-width: 600px;
          }

          @include mobile {
            min-width: 300px;
          }
        }
      }
    }
  }

  .snippets-gallery {
    width: 90%;
    max-width: 1220px;
    margin: -60px auto 0;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--spacing-base);

    @include tablet {
      grid-template-columns: 1fr;

      .snippets-gallery-item {
        &.large {
          grid-column: span 1;
        }
      }
    }

    .snippets-gallery-item {
      width: 100%;
      background-color: var(--color-surface);
      padding: var(--spacing-base);
      border: 4px solid var(--color-surface);
      border-radius: var(--border-radius-large);
      overflow: hidden;
      transition: all var(--transition-base);

      &:hover {
        border-color: var(--color-paper);
        box-shadow: 0px 10px 10px -5px rgba(108, 108, 108, 0.25);

        .interactive-label {
          opacity: 1;
        }
      }

      @include tablet-reverse {
        &.large {
          grid-column: span 2;
        }
      }

      .interactive-label {
        display: block;
        width: 100%;
        text-align: center;
        font-size: var(--font-size-xsmall);
        font-weight: 600;
        font-family: var(--font-mono);
        text-transform: uppercase;
        letter-spacing: 0.05em;
        color: var(--color-chocolate);
        opacity: 0.7;
        transition: all var(--transition-base);
      }

      .gallery-inner {
        width: 100%;
        height: 100%;
        min-height: 520px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @include tablet {
          min-height: 400px;
        }

        img {
          margin: auto;

          @include tablet {
            width: 90%;
            min-width: 340px;
            height: auto;
            object-fit: contain;
          }

          @include mobile {
            width: 90%;
            min-width: 90%;
            height: auto;
            object-fit: contain;
          }
        }
      }
    }
  }
</style>
