---
// Components
import BaseLayout from "../../layouts/BaseLayout.astro";
import { Image } from "astro:assets";
import { getCaseStudy } from "../../data/case-study-details";

// Case Study Components
import * as Work from "../../components/work/index.js";
import BackToTop from "../../components/BackToTop.astro";
import AskAIChatPreview from "../../components/work/Demos/AskAIChatPreview.astro";
import SnippetsGallery from "../../components/work/Elements/SnippetsGallery.astro";
import SnippetsGalleryItem from "../../components/work/Elements/SnippetsGalleryItem.astro";
import AskAiCanvas from "../../components/_partials/work/AskAiCanvas.astro";
import BookingCTA from "../../components/BookingCTA.astro";

//Assets
import showcaseImage from "../../assets/case-studies/tropic/ask-ai/ask-ai-showcase.png";
import showcaseVideo from "../../assets/case-studies/tropic/ask-ai/demo01.mp4";
import showcaseBackground from "../../assets/backgrounds/noise-5.png";
import showcaseLogo from "../../assets/icons/cv-tropic.png";
import askTropicHallway01 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway01.png";
import askTropicHallway02 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway02.png";
import askTropicHallway03 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway03.png";
import askTropicHallway04 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway04.png";
import askTropicHallway05 from "../../assets/case-studies/tropic/ask-ai/ask-tropic-hallway05.png";
import upload from "../../assets/case-studies/tropic/ask-ai/upload.mp4";
import tips from "../../assets/case-studies/tropic/ask-ai/tips.mp4";
import aiMessageBlock from "../../assets/case-studies/tropic/ask-ai/ai-message-block.png";
import threadBlock from "../../assets/case-studies/tropic/ask-ai/thread-block.png";
import chatReferences from "../../assets/case-studies/tropic/ask-ai/chat-references.png";
import optionsBlock from "../../assets/case-studies/tropic/ask-ai/options-block.png";

// Data
const caseStudy = getCaseStudy("askTropic");
---

<BaseLayout title={caseStudy.title} description={caseStudy.description}>
  <!-- Back to Top Button -->
  <BackToTop />

  <!-- Case Study Header -->
  <Work.CaseStudyHeader {...caseStudy} />

  <!-- Showcase -->
  <Work.LargeShowcase
    background={showcaseBackground}
    caption={{
      icon: showcaseLogo,
      title: "What is Tropic?",
      description:
        "Tropic is an intake-to-procure platform that helps companies of all sizes—from startups to enterprises like OpenAI—manage their supplier relationships and reduce unnecessary spending.",
    }}
  >
    <Image
      src={showcaseImage}
      alt="show case image"
      draggable="false"
      width={1220}
      priority
    />
  </Work.LargeShowcase>

  <!-- Background -->
  <Work.StorySection kicker="Background" title="The Problem">
    <h3>Finding Answers Wasn't Easy</h3>
    <p>
      Before Ask AI, customers had to search across multiple resources to find
      procurement-related answers. Whether it was navigating policies, tracking
      the status of software purchase requests, or analyzing vendor spend. This
      process was time-consuming and frustrating. Our goal was to streamline
      these workflows by introducing an AI-powered assistant that could surface
      relevant insights and point people on the right direction instantly.
    </p>
    <div class="spacer-base"></div>
    <h3>Assisted Intelligence</h3>
    <p>
      <strong>In just over a month</strong>, we designed and developed Tropic's
      Ask AI feature. This feature uses multiple specialized AI agents to assist
      customers with tasks like creating requests, analyzing account data, and
      reviewing procurement policies against contracts and requests.
    </p>
    <p>
      I led the creation of a <strong>foundational design system</strong> that ensured
      AI-driven interactions felt intuitive, scalable, and consistent across the
      platform. My work focused on:
    </p>

    <ul>
      <li>
        <strong>Structure</strong><br />Designed the framework that lets
        customers seamlessly interact with AI agents within their natural mental
        workflows.
      </li>
      <li>
        <strong>Branding</strong><br />Developed a visual identity for our AI so
        that it merged seamlessly with our application while standing out with
        our modern aesthetic.
      </li>
      <li>
        <strong>Information Architecture</strong><br />Created interaction
        patterns that made AI capabilities clear, surfaced conversation history,
        and suggested next steps based on user input.
      </li>
    </ul>
  </Work.StorySection>

  <AskAiCanvas
    images={[
      askTropicHallway03,
      askTropicHallway04,
      askTropicHallway05,
      askTropicHallway02,
      askTropicHallway01,
    ]}
    label="Figure I."
    caption="Mid-fidelity wireframes of Tropic's Ask AI feature. High fidelity was done in code."
  />

  <div class="spacer-large"></div>

  <!-- Development -->
  <Work.StorySection
    kicker="Development"
    title="Shapping Tropic's Assistant"
    spacing="base"
  >
    <p>
      I had the opportunity to contribute to the <strong
        >front-end development</strong
      >. Collaborating closely with another developer responsible for back-end
      integration and optimization. Together, in <strong>just two weeks</strong
      >, we built a code prototype to test and refine the user experience.
    </p>
    <p>
      This hands-on approach allowed us to fine-tune performance and polish the
      interface, ensuring AI interactions felt seamless and natural. While
      giving other teams involved in this feature a sandbox to play with.
    </p>
    <p>
      While we started with design mockups, much of the <strong
        >real design work happened directly in code</strong
      >. This enabled me to fine-tune the UX, optimize for clarity, and craft
      subtle interactions that made the assistant feel more polished and
      engaging.
    </p>
    <p>Some key contributions I made to the UI included:</p>
    <ul>
      <li>
        <strong>Enhancing visual hierarchy</strong> to clearly differentiate AI responses
        from user input.
      </li>
      <li>
        <strong>Designing micro-interactions</strong> that added delight in interacting
        with our chat and in AI-generated responses.
      </li>
      <li>
        <strong>Optimizing layout responsiveness</strong> to ensure a seamless experience
        across different screen sizes and information density complexities.
      </li>
    </ul>
  </Work.StorySection>

  <SnippetsGallery>
    <SnippetsGalleryItem
      large
      interactive
      overflowHidden={false}
      minHeight={640}
    >
      <AskAIChatPreview />
      <span class="plate-caption !text-ink-tertiary"
        >Figure II. Tropic's Ask AI Input Demo</span
      >
    </SnippetsGalleryItem>

    <SnippetsGalleryItem
      image={aiMessageBlock}
      imageAlt="ai-message-block"
      caption="Figure III. Agent Response"
      maxWidth={440}
    />

    <SnippetsGalleryItem
      image={chatReferences}
      imageAlt="chat-references"
      caption="Figure IV. Chat Reference Island"
      maxWidth={440}
    />

    <SnippetsGalleryItem
      image={threadBlock}
      imageAlt="thread-block"
      caption="Figure V. Embeded Widgets in Thread"
      maxWidth={440}
    />

    <SnippetsGalleryItem
      video={upload}
      caption="Figure VI. Uploading a File"
      maxWidth={440}
    />

    <SnippetsGalleryItem
      large
      image={optionsBlock}
      imageAlt="options-block"
      caption="Figure VII. Suggestions Panel"
      maxWidth={440}
      imageStyles="block; margin: 40px 0;"
    />

    <SnippetsGalleryItem
      large
      video={tips}
      caption="Figure VIII. Accessing Tips"
      maxWidth={1140}
      minHeight={740}
    />
  </SnippetsGallery>

  <!-- Reception -->
  <Work.StorySection kicker="Reception" title="Making it Beta">
    <p>
      Ask AI is now in <strong>beta</strong>, and we're using this period to refine agent
      responses and optimize the experience further. As <strong>Tropic's biggest user of
      our own platform</strong>, we're rigorously dogfooding this feature.
    </p>
    <h3 class="mt-5">Early Insights from Beta Testing</h3>
    <ul>
      <li style="text-wrap: auto;">
        Customers are <strong>spending more time</strong> engaging with our AI assistant than our command K functionality. Reducing time spent locating information.
      </li>
      <li>
        <strong>Feedback on AI clarity</strong> has been valuable—some areas
        still need better explanations, and we’re iterating quickly.
      </li>
    </ul>
    <p>
      While there are some expected rough edges (as with any beta), the volume
      of customer engagement has been a strong early signal of adoption.
    </p>
    <p>
      I can’t take credit for the incredible work done by other teams, but I’m
      proud of the <strong>thoughtful details and care</strong> we put into
      making Ask AI an intuitive and engaging experience.
    </p>
  </Work.StorySection>

    <!-- Showcase -->
    <Work.LargeShowcase background={showcaseBackground} backgroundFull={true}>
      <video src={showcaseVideo} autoplay loop muted width={1220}></video>
    </Work.LargeShowcase>

    <BookingCTA include_classes="my-20 mx-auto flex justify-center" />

    <!-- Footer -->
    <Work.Footer />
  </Work.StorySection>

  <style lang="scss">
    // Breakpoint mixins
    @import "../../styles/base/_breakpoints.scss";

    .open-canvas {
      width: 100%;
      margin: var(--spacing-quad) 0;
      padding: var(--spacing-double) var(--spacing-base);
      background-color: var(--color-surface);

      .canvas-container {
        width: 90%;
        max-width: 1220px;
        margin: 0 auto;
      }

      :global(.plate-label),
      :global(.plate-caption) {
        display: block;
        width: 100%;
        text-align: center;
        color: var(--color-surface);
      }

      &.mockups {
        background-color: var(--color-chocolate);

        @include desktop-reverse {
          padding: var(--spacing-quad) 0;
        }
      }

      &.mockups .canvas-container {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: var(--spacing-xxs);
        overflow: hidden;

        @include desktop-reverse {
          gap: var(--spacing-base);
        }

        .hallway {
          width: 95%;
          margin: 0 auto;
          padding: var(--spacing-base) 0;
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: var(--spacing-quad);
          overflow-x: scroll;

          -webkit-overflow-scrolling: touch;
          -webkit-scrollbar {
            display: none;
          }

          -ms-overflow-style: none;
          scrollbar-width: none;

          img {
            width: 100%;
            height: auto;
            object-fit: contain;

            @include tablet {
              min-width: 600px;
            }

            @include mobile {
              min-width: 300px;
            }
          }
        }
      }
    }

    .testing {
      margin: 100px auto;
    }
  </style>
</BaseLayout>
