---
interface Props {
  title: string;
  subheading?: string;
  company: string;
  description: string;
  role: string;
  status: string;
  timeline: string;
  focusAreas: string;
  lastUpdated?: string;
}

const {
  title,
  subheading,
  company,
  description,
  role,
  status,
  timeline,
  focusAreas,
  lastUpdated,
} = Astro.props;
---

<div class="neue-container grid grid-cols-1 md:grid-cols-2 my-20" data-intersection-observer={true}>
  <div class="text-content xl:min-w-[650px]">
      <h4>{company}</h4>
      <h1 class="my-5">
        <span class="block">{title}</span>
        {
          subheading && (
            <span class="text-ink-tertiary dark:text-chocolate-light italic block">
              {subheading}
            </span>
          )
        }
      </h1>
      <p>{description}</p>
      <h5 class="last-updated caramel-text mt-10">Last Updated: {lastUpdated}</h5>
  </div>

  <div class="aside-details max-md:hidden max-w-[240px] ml-auto mt-5">
    <div
      class="details-column flex flex-col gap-2 pb-5 mb-5 border-b border-lines dark:border-ink-tertiary"
    >
      <h5>Role</h5>
      <span>{role}</span>
    </div>
    <div
      class="details-column flex flex-col gap-2 pb-5 mb-5 border-b border-lines dark:border-ink-tertiary"
    >
      <h5>Project Status</h5>
      <span>{status}</span>
    </div>
    <div
      class="details-column flex flex-col gap-2 pb-5 mb-5 border-b border-lines dark:border-ink-tertiary"
    >
      <h5>Timeline</h5>
      <span>{timeline}</span>
    </div>
    <div class="details-column flex flex-col gap-2 pb-5 mb-5">
      <h5>Focus Areas</h5>
      <span>{focusAreas}</span>
    </div>
  </div>

  <details
    class="details-toggle my-10 block cursor-pointer list-none rounded-lg overflow-hidden open:bg-surface md:hidden dark:bg-ink-tertiary"
    open
  >
    <summary class="p-4 bg-surface dark:bg-ink-tertiary">
      <span>See Project Details</span>
    </summary>
    <div class="[&>.details-column]:dark:bg-ink-tertiary [&>.details-column]:p-4">
      <div class="details-column flex flex-col gap-2 border-b border-lines">
        <span>Role</span>
        <span>{role}</span>
      </div>
      <div class="details-column flex flex-col gap-2 border-b border-lines">
        <span>Project Status</span>
        <span>{status}</span>
      </div>
      <div class="details-column flex flex-col gap-2 border-b border-lines">
        <span>Timeline</span>
        <span>{timeline}</span>
      </div>
      <div class="details-column flex flex-col gap-2">
        <span>Focus Areas</span>
        <span>{focusAreas}</span>
      </div>
    </div>
  </details>
</div>

