---
import { Image } from "astro:assets";

interface Props {
  images: ImageMetadata[];
  label: string;
  caption: string;
}

const { images, label, caption } = Astro.props;
---

<section class={`w-full my-16 py-8 px-4 md:py-16 md:px-0 bg-chocolate dark:bg-ink-secondary`} data-intersection-observer={true}>
  <div class="flex flex-col items-center justify-center gap-10 overflow-hidden px-10 md:px-28">
    <span class="block w-full text-center">{label}</span>
    <div class="py-4 flex flex-row items-center gap-16 overflow-x-scroll touch-pan-x scrollbar-hide">
      {
        images.map((image, index) => (
          <Image
            src={image}
            alt={`hallway-image-${index}`}
            draggable="false"
            width={[640, 580, 880, 950, 900][index] || 640}
            class="w-full h-auto object-contain mobile:min-w-[300px] tablet:min-w-[600px]"
            priority
          />
        ))
      }
    </div>
  </div>
  <span class="block w-full text-center text-surface">{caption}</span>
</section>

<style>
  /* Hide scrollbar for Chrome, Safari and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
</style> 