---
import { Image } from "astro:assets";
import spendBubble from "../../../assets/illustrations/case-studies/beyond-contracts/chart-bubble-spend.png";
import dataBubble from "../../../assets/illustrations/case-studies/beyond-contracts/chart-bubble-data.png";
import timeBubble from "../../../assets/illustrations/case-studies/beyond-contracts/chart-bubble-time.png";
import interfaceBubble from "../../../assets/illustrations/case-studies/beyond-contracts/chart-bubble-interface.png";

interface Initiative {
  title: string;
  size: "large" | "medium" | "small" | "xsmall";
  x: string;
  y: string;
  image?: ImageMetadata;
  description?: string;
}

const initiatives: Initiative[] = [
  {
    title: "Unlocking Spend Reporting",
    size: "large",
    x: "85%",
    y: "25%",
    image: spendBubble,
    description: "This was our biggest priority. We needed to solidify our stake as an intake to procure platform.",
  },
  {
    title: "Contract Data Completion",
    size: "medium",
    x: "65%",
    y: "55%",
    image: dataBubble,
    description: "Data quality is one of the biggest hurdle to getting spend variance insights.",
  },
  {
    title: "Unblocking Account Execs' Time",
    size: "small",
    x: "15%",
    y: "15%",
    image: timeBubble,
    description: "We needed to create ways to unblock account execs from their desks.",
  },
  {
    title: "Improving User Interface",
    size: "xsmall",
    x: "25%",
    y: "75%",
    image: interfaceBubble,
    description: "While we did design some updates to our UI, I opted to keep the focus on the core functionality so to economize the time spent on development.",
  },
];
---

<div class="quadrant-chart" data-intersection-observer={true}>
  <div class="chart-container">
    <span class="footnote">Bubble sizes reflect stakeholder appetite</span>
    <!-- Axis Labels -->
    <div class="y-axis-label">Business Impact</div>
    <div class="x-axis-label">Value Importance</div>

    <!-- Corner Labels -->
    <div class="corner-label high-left">HIGH</div>
    <div class="corner-label high-right">HIGH</div>
    <div class="corner-label low-left">LOW</div>

    <!-- Axis Lines -->
    <div class="vertical-line"></div>
    <div class="horizontal-line"></div>

    <!-- Initiative Bubbles -->
    {
      initiatives.map(({ title, size, x, y, image, description }) => (
        <div class={`initiative ${size}`} style={`--x: ${x}; --y: ${y};`}>
          <div class="bubble">{image && <Image src={image} alt={title} />}</div>
          <span>{title}</span>
          <p class="description">
            {description}
          </p>
        </div>
      ))
    }
  </div>
</div>

<style lang="scss">
  // Breakpoint mixins
  @use "../../../styles/base/_breakpoints.scss" as *;

  .quadrant-chart {
    position: relative;
    width: 90%;
    aspect-ratio: 1;
    max-width: 800px;
    margin: 0 auto;
    padding: var(--spacing-double);

    .chart-container {
      position: relative;
      width: 100%;
      height: 100%;
      background: var(--color-surface);
      border-radius: 8px;
    }

    .vertical-line,
    .horizontal-line {
      position: absolute;
      background: rgba(0, 0, 0, 0.1);

      &::after {
        content: "";
        position: absolute;
        background: inherit;
      }
    }

    .vertical-line {
      left: 50%;
      height: 100%;
      width: 1px;
      transform: translateX(-50%);
    }

    .horizontal-line {
      top: 50%;
      width: 100%;
      height: 1px;
      transform: translateY(-50%);
    }

    // These are the labels for the quadrants
    .corner-label {
      position: absolute;
      font-size: var(--font-size-small);
      color: var(--color-ink-tertiary);
      font-family: var(--font-mono);
      padding: var(--spacing-base);

      @include tablet {
        font-size: var(--font-size-xxs);
      }

      &.high-left {
        top: 0;
        left: 0;
      }
      &.high-right {
        top: 0;
        right: 0;
      }
      &.low-left {
        bottom: 0;
        left: 0;
      }
    }

    // These are the labels for the axes
    .y-axis-label,
    .x-axis-label {
      position: absolute;
      font-family: var(--font-headings);
      color: var(--color-ink-secondary);
      font-size: var(--font-size-base);

      @include tablet {
        font-size: var(--font-size-small);
      }
    }

    .y-axis-label {
      left: -2em;
      top: calc(50% + 2em);
      transform: rotate(-90deg);
      transform-origin: left center;
    }

    .x-axis-label {
      bottom: -3em;
      left: calc(50% - 3em);
      text-align: center;
    }

    .initiative {
      position: absolute;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-xsmall);
      left: var(--x);
      top: var(--y);
      cursor: pointer;

      .bubble {
        width: var(--size);
        height: var(--size);
        border-radius: 50%;
        background: var(--color-coffee);
        opacity: 0.9;
        border: 1px solid var(--color-paper);
        transition: all 0.2s ease-in-out;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          mix-blend-mode: color-dodge;
        }
      }

      span {
        text-align: center;
        font-size: var(--font-size-xsmall);
        color: var(--color-ink-secondary);
        font-family: var(--font-sans);
        font-weight: 500;
        max-width: 120px;
        line-height: 1.2;
        text-wrap: balance;
        margin-top: var(--spacing-xsmall);

        @include tablet {
          font-size: var(--font-size-xxs);
        }
      }

      &.large {
        --size: 80px;
      }
      &.medium {
        --size: 60px;
      }
      &.small {
        --size: 40px;
      }
      &.xsmall {
        --size: 30px;
      }

      .description {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(-20%, -100%);
        opacity: 0;
        visibility: hidden;

        width: 100%;
        min-width: 200px;
        max-width: 200px;
        background: var(--color-chocolate);
        padding: 16px;
        border-radius: var(--border-radius-large);

        font-size: var(--font-size-xsmall);
        color: var(--color-paper);
        font-family: var(--font-sans);
        font-weight: 400;
        line-height: 1.5;
        text-wrap: balance;
        transition: all 0.4s cubic-bezier(0.23, 1, 0.320, 1);
      }

      &:hover .description {
        opacity: 1;
        visibility: visible;
        transform: translate(-20%, -115%);
        transition-delay: 0.2s;
      }

      &:hover .bubble {
        opacity: 1;
        background: var(--color-accent-light);

        img {
          mix-blend-mode: plus-lighter;
        }
      }
    }

    span.footnote {
      display: block;
      width: 100%;
      position: absolute;
      bottom: 24px;
      left: 0;
      text-align: center;
      font-size: var(--font-size-xsmall);
      color: var(--color-ink-tertiary);
    }

    @include tablet {
      padding: 0;
    }

    @include mobile {
      .initiative .bubble {
        transform: scale(0.75) translateY(16px);
      }

      .initiative span {
        margin-top: 8px;
      }

      span.footnote {
        bottom: -28px;
      }

      .x-axis-label {
        bottom: -52px;
      }

      .corner-label {
        padding: var(--spacing-small);
      }
    }
  }
</style>
